@model IEnumerable<BlogFerit.DataEntities.Article>
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="container">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="post-blog-area lifestyle-area">
                @foreach (var item in Model)
                {
    <div class="single-post-item mb-50">
        <div class="row" style="        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 0px 4px 0px #888888;
">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="single-post">
                    <div class="single-post-img">
                        <img src="@item.ImageUrl" alt="@item.Title" />
                    </div>
                    <div class="single-post-text">
                        <a href="~/Post/@item.ArticleUrl"><h3>@item.Title</h3></a>
                        <ul>
                            <li><a href="#"><i class="fa fa-clock-o"></i> @item.ArticleDate</a></li>
                            <li><a href="#"><i class="fa fa-pencil"></i>@item.Author</a></li>
                            <li><a href="#"><i class="fa fa-eye"></i> @item.ReadingCount</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="single-post-right">
                    <a href="#" class="post-category lifestyle"><h3>@item.CategoryName</h3></a>
                    <a href="@item.CategoryName/@item.ArticleUrl"><h4>@item.Title</h4></a>
                    @if (item.Content.ToString().Length > 200)
                    {
    <p>@Html.Raw(@item.Content.Substring(0, 200)) ... <a style="color:#49b293" href="@item.CategoryName/@item.ArticleUrl"> Devamını Oku</a></p> }
else
{
<p> @Html.Raw(@item.Content)</p>}

                    <a href="@item.CategoryName/@item.ArticleUrl" class="post-top-btn m-0">Devamını oku</a>
                </div>
            </div>
        </div>
    </div>}
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">

            <div class="sidebar-area-standard" style="        background-color: white;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 1px 2px 0px 1px #888888;">


                @Html.Action("Categories", "Home")

                @Html.Action("Advertisement", "Home")

                @Html.Action("TopArticle", "Home")


            </div>
        </div>
    </div>
</div>
