@model BlogFerit.DataEntities.SeoSettings
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="x_panel">
    <div class="x_title">
        <h2>Yönetici ayarları</h2>

        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <form id="form1" method="post" action="~/Admin/SeoUpdate" enctype="multipart/form-data">

            <div class="item form-group">
                <div class="col-md-12 col-sm-12 ">
                    <input type="hidden" name="Id" value="@Model.Id">
                    <input type="hidden" name="Favicon" value="@Model.Favicon">
                    <input type="hidden" name="LogoImage" value="@Model.LogoImage">
                </div>
            </div>

            <div class="item form-group">
                <div class="col-md-12 col-sm-12 ">
                    <label for="sel1">Site Başlığı: </label>
                    <input type="text" name="Title" id="first-name" placeholder="" required="required" value="@Model.Title" class="form-control ">
                </div>
            </div>

            <div class="item form-group">
                <div class="col-md-12 col-sm-12 ">
                    <label for="sel1">Anahtar kelimeler (aralarına virgül giriniz): </label>
                    <input type="text" name="Keywords" id="first-name" placeholder="" required="required" value="@Model.Keywords" class="form-control ">
                </div>
            </div>

            <div class="item form-group">
                <div class="col-md-12 col-sm-12 ">
                    <label for="sel1">Site açıklama (250 karakter):</label>
                    <textarea name="Description" class="resizable_textarea form-control" style="margin-top: 0px; margin-bottom: 0px; height: 384px;">@Model.Description</textarea>
                </div>
            </div>

            <div class="item form-group">
                <div class="col-md-12 col-sm-12 ">
                    <label for="sel1">Site Logo :</label>
                    <input type="file" name="postedFile" id="first-name" accept="image/png, image/jpeg" value="@Model.LogoImage" class="form-control"
                           style="padding: .375rem .0rem; border-radius: .25rem;">
                </div>
            </div>
            <div class="item form-group">
                <div class="col-md-12 col-sm-12 ">
                    <label for="sel1">Favicon :</label>
                    <input type="file" name="postedFile2" id="first-name" accept="image/png, image/jpeg" value="@Model.Favicon" class="form-control"
                           style="padding: .375rem .0rem; border-radius: .25rem;">
                </div>
            </div>


            <div class="item form-group">
                <div class="col-md-12 col-sm-12 ">
                    <input type="submit" class="btn btn-info btn-lg" value="Kaydet">
                </div>
            </div>
        </form>
    </div>
</div>



